*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'poppins',sans-serif;
}
#logo{
    font-family: 'popp';
    font-weight: 500;
}
.heading p{
    font-family: 'Overlock SC', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 20px;
    padding: 30px;
    margin-top: 100px;
    border: 2px solid #ff0000;
}
.heading{
    margin-top: 160px;
}
h1{
    color: whitesmoke;
    font-family: 'Overlock SC', sans-serif;
}
h3{
    font-size: 1.45rem;
    position:relative;
    top: 220px;
    left: 1000px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%), url(./images/first1.jpg);
    background-position: centre;
    background-size: cover;
    height: 99vh;
}
#logo span{
    color: #9488eb;
}
.lin{
    color: #9488eb;
}
.tour{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.place{
    display: inline;
    text-align: center;
}
.place h2{
    color: rgb(133, 111, 204);
    font-size: 25px;
    margin-bottom: 18px;
}
.place a{
    text-decoration: none;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
    position: relative;
    top:300px;
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(129, 93, 93, 0.555);
    background: transparent;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
      color: #0a1c4f;
      background-color: #31bcbc;
    }
  
/* Responsive */

@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }

  .tour{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  .heading{
    text-align: center;
    margin-top: 100px;
  }
}
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  .heading{
    text-align: center;
    margin-top: 100px;
  }
  }
  